* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100vw;
    height: 100vh;
    background-size: contain;
    /* background: linear-gradient(295deg, rgb(181, 39, 106), rgb(247, 251, 51)); */
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    margin: 0 10px;
}

.btn button {
    border: 1px solid black;
    font-family: sans-serif;
    font-size: 1.7em;
    padding: 10px;
    border-radius: 100px;
    opacity: 0.5;
    cursor: pointer;
    transition: background 0.3s ease-in;
    -webkit-transition: background 0.3s ease-in;
    -moz-transition: background 0.3s ease-in;
    -ms-transition: background 0.3s ease-in;
    -o-transition: background 0.3s ease-in;
}

.btn button:hover {
    background-color: #ff4747;
}