* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background: #4eaae0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.battery {
    position: relative;
    width: 35vw;
    height: 10vw;
    border: 1px solid black;
    /* font-size: calc(100vw / 13 - 10%); */
    font-size: calc(100vw / 13 - 60%);
    box-shadow: -3px 3px 3px 0px black;
}

.battery-level-block {
    position: absolute;
    height: 100%;
    width: 10%;
    max-width: 100%;
    background: aqua;
}

.battery-level-percentage {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    background: rgba(0, 0, 0, 0.3);
    filter: drop-shadow(4px 4px 1px grey);
}

.battery-level-percentage p {
    color: white;
    z-index: 2;
}

.battery-level-block.anim {
    animation: charging 6s ease 0s infinite backwards;
    -webkit-animation: charging 6s ease 0s infinite backwards;
}

@keyframes charging {
    0% {
        width: 5%;
    }
    10% {
        width: 10%;
    }
    20% {
        width: 20%;
    }
    30% {
        width: 30%;
    }
    40% {
        width: 40%;
    }
    50% {
        width: 50%;
    }
    60% {
        width: 60%;
    }
    70% {
        width: 70%;
    }
    80% {
        width: 80%;
    }
    90% {
        width: 90%;
    }
    100% {
        width: 100%;
    }
}