body {
    background: #a9a9a982;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    background: #1e97bb;
    color: white;
}

.convert-block {
    border: 1px solid black;
    width: 300px;
    margin: 0 auto;
    font-family: sans-serif;
}

.block-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: aqua;
}

p {
    display: inline-block;
    margin: 5px 10px;
    font-size: 1.4em;
}

.wrapper_input {
    display: inline-block;
    margin: 0 10px;
}

.input {
    width: 100%;
}

.block-body {
    margin: 15px auto;
    display: flex;
    justify-content: center;
}

button {
    font-size: 1.1em;
}

.block-footer {
    width: 100%;
    height: max-content;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
}

.wrapper_output {
    font-size: 1.4em;
}

@media (max-width:425px) {
    h1 {
        font-size: inherit;
    }
}